/* Learned that there is a hierarchy of styles depending on where you place them */

<style>
  body {
    background-color: black;
    font-family: monospace;
    color: green;
  }
  .pink-text {
    color: pink;
  }
</style>
<h1 class="pink-text";>Hello World!</h1>
