/* Confirmed from previous lesson that class overrides body elements. Then learned the verticality of classes matter such that whichever one was declared last will take precedence over ther first */

<style>
  body {
    background-color: black;
    font-family: monospace;
    color: green;
  }
  .pink-text {
    color: pink;
  }
  .blue-text {
    color: blue;
  }
</style>
<h1 class="pink-text blue-text";>Hello World!</h1>
