/* Learned about another way to override CSS. This is an important tool because it is likely I will use CSS libraries in the future and they may accidentally override my own CSS. Ensuring that an element has a particualr CSS can be done by adding !important after the color/attribute but before the semicolon */

<style>
  body {
    background-color: black;
    font-family: monospace;
    color: green;
  }
  #orange-text {
    color: orange;
  }
  .pink-text {
    color: pink !important;
  }
  .blue-text {
    color: blue;
  }
</style>
<h1 id="orange-text" class="pink-text blue-text" style="color: white">Hello World!</h1>
